# Lab 7 Exercises

## Processing Data with Python, Part 1

### Help

If you need help, please contact one of the TAs for the course.

All TAs from this course can answer your questions, so feel free to attend any of the office hours that fit your schedule

Submit your completed Jupyter notebook on Canvas. You don't need to submit any other files, I have them. :D

----

## Exercises

The exercises for this week are varied, but some deal with `chipotle.tsv`, a dataset concerning Chipotle orders. If you run into any trouble, you may find the texts for this section of the course helpful:

* [The Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/), by Jake VanderPlas, or
* [Python for Data Analysis](https://proquest.safaribooksonline.com/9781491957653), by Wes McKinney.

Oh yeah, and let's import pandas for this notebook.

In [1]:
import pandas as pd

----

#### **Exercise 1**

Using the `iloc` and slicing syntax, slice the following dataframe based on the highlighted blocks in the image. 

First, think of the slicing syntax to grab just the rows you want. Then, think of the slicing syntax for the columns you want. 

Put the row slices *before* the comma and the column slices *after* the comma.

In [2]:
# here's our DataFrame
indexing_example = pd.DataFrame([[1,2,3],
                                 [4,5,6],
                                 [7,8,9]])

Select the second two columns of the first two rows.  

![first slice exercise](img/indexing1.png)

In [ ]:
# put the slicing syntax in your answer here
indexing_example.iloc[[0, 1], [1, 2]]

Select the third row.

![first slice exercise](img/indexing2.png)

In [ ]:
# your answer here!
indexing_example.iloc[[2],]

Select the first two columns.

![first slice exercise](img/indexing3.png)

In [ ]:
# your answer here!
indexing_example.iloc[0:3, [2]]

Select the first two columns of the second row.

![first slice exercise](img/indexing4.png)

In [ ]:
# your answer here!
indexing_example.iloc[[1], 0:2]

#### **Exercise 2**

You're going to be working with Chipotle data from here on out. The data is in a file called `chipotle.tsv`. Since this is a tab-separated file (not a CSV, which uses commas), you'll have to specify `sep='\t'` on your read function.

Import your dataset from `chipotle.tsv` and assign it to a variable called `chip`. Then, view the first 10 entries in your new DataFrame.

In [3]:
chip = pd.read_csv("chipotle.tsv", sep='\t')
chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

#### **Exercise 3**

Print the total number of observations in the DataFrame. There are a number of ways you can do this, but the value will be how many individual things were ordered at Chipotle.

In [35]:
print("Total Observations: " + str(len(chip.index)))

Total Observations: 4622

#### **Exercise 4**

Print the number of columns in the DataFrame, and then print the names of all columns in the DataFrame. This will give you a guide to how the DataFrame is indexed.

In [44]:
print("Number of Columns: " + str(len(chip.columns)))
print("======= Column Names =======")
for x in chip.columns:
    print(x)

Number of Columns: 5
======= Column Names =======
order_id
quantity
item_name
choice_description
item_price

#### **Exercise 5**

Calculate, for each order number, how much the order costs. 

In other words, you're going to iterate through the DataFrame and, for each order number, add up the `item_price * quantity` for each item in the order. 

Store the order prices in a list. Then, tell me how much the 100th, 500th, and 1000th order cost.

In [41]:
#Establish total price of everything bought
count = 0

#Price of currently checked order
order_price = 0

#Base order id
last_id = 1

print("======= ORDER ID & ORDER PRICE =======")

#For every index in the dataframe
for x in range(len(chip.index)):
    
    #Get the order id and compare
    order_id = int(chip.loc[x, "order_id"])
    
    #If it is a part of the same order, add the price of that item to the total
    if order_id == last_id:
        order_price += float(chip.loc[x, "item_price"])
        
    #Otherwise, print out the final price, establish the new order price and order id
    elif order_id != last_id:
        
        #Print out these orders before clearing
        if order_id == 100 or order_id == 500 or order_id == 1000:
            print("Order ID:", order_id, "| Order Price: ${price:.2f}".format(price = order_id))
            
        order_price = float(chip.loc[x, "item_price"])
        last_id = order_id

======= ORDER ID & ORDER PRICE =======
Order ID: 100 | Order Price: $100.00
Order ID: 500 | Order Price: $500.00
Order ID: 1000 | Order Price: $1000.00

#### **Exercise 6**

Using a filter function, drop every row where only one item was ordered. In other words, if `quantity > 1`, keep the row. If not, drop the row. 

Then, print the first ten items in the new DataFrame.

Hint: this is very similar to the filter we wrote when dealing with community center attendance.

In [16]:
#Filter function
def filter_less_one(dataframe):
    if len(dataframe) > 1:
        return True
    else:
        return False
    
pop_chip = chip.groupby("order_id").filter(filter_less_one)
pop_chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25
10,5,1,Chips and Guacamole,NaN,4.45

#### **Exercise 7**

This assignment is a bit tricky! Check out the Python for Everyone's section on [dictionaries](https://www.py4e.com/html3/09-dictionaries) if you're confused.

Make a new dictionary. Then, iterate through the DataFrame. For each `item_name`, do the following:

* if `dict[item_name]` exists, add `quantity` to it;
* if not, set `dict[item_name]` to `quantity`;

You're essentially counting the number of times that a given item has been ordered.

In [50]:
#Establish a dictionary and do string matching to check
items = {}
for x in chip.loc[:,"item_name"]:
    if x not in items.keys():
        items.update({x : 0})
    else:
        items[x] += 1
        
#Print out the results
print("======= ITEM QUANTITY =======")

for x in items:
    print("Item Name:",x, "| Amount Sold:", items[x])

======= ITEM QUANTITY =======
Item Name: Chips and Fresh Tomato Salsa | Amount Sold: 109
Item Name: Izze | Amount Sold: 19
Item Name: Nantucket Nectar | Amount Sold: 26
Item Name: Chips and Tomatillo-Green Chili Salsa | Amount Sold: 30
Item Name: Chicken Bowl | Amount Sold: 725
Item Name: Side of Chips | Amount Sold: 100
Item Name: Steak Burrito | Amount Sold: 367
Item Name: Steak Soft Tacos | Amount Sold: 54
Item Name: Chips and Guacamole | Amount Sold: 478
Item Name: Chicken Crispy Tacos | Amount Sold: 46
Item Name: Chicken Soft Tacos | Amount Sold: 114
Item Name: Chicken Burrito | Amount Sold: 552
Item Name: Canned Soda | Amount Sold: 103
Item Name: Barbacoa Burrito | Amount Sold: 90
Item Name: Carnitas Burrito | Amount Sold: 58
Item Name: Carnitas Bowl | Amount Sold: 67
Item Name: Bottled Water | Amount Sold: 161
Item Name: Chips and Tomatillo Green Chili Salsa | Amount Sold: 42
Item Name: Barbacoa Bowl | Amount Sold: 65
Item Name: Chips | Amount Sold: 210
Item Name: Chicken Salad Bowl | Amount Sold: 109
Item Name: Steak Bowl | Amount Sold: 210
Item Name: Barbacoa Soft Tacos | Amount Sold: 24
Item Name: Veggie Burrito | Amount Sold: 94
Item Name: Veggie Bowl | Amount Sold: 84
Item Name: Steak Crispy Tacos | Amount Sold: 34
Item Name: Chips and Tomatillo Red Chili Salsa | Amount Sold: 47
Item Name: Barbacoa Crispy Tacos | Amount Sold: 10
Item Name: Veggie Salad Bowl | Amount Sold: 17
Item Name: Chips and Roasted Chili-Corn Salsa | Amount Sold: 17
Item Name: Chips and Roasted Chili Corn Salsa | Amount Sold: 21
Item Name: Carnitas Soft Tacos | Amount Sold: 39
Item Name: Chicken Salad | Amount Sold: 8
Item Name: Canned Soft Drink | Amount Sold: 300
Item Name: Steak Salad Bowl | Amount Sold: 28
Item Name: 6 Pack Soft Drink | Amount Sold: 53
Item Name: Chips and Tomatillo-Red Chili Salsa | Amount Sold: 19
Item Name: Bowl | Amount Sold: 1
Item Name: Burrito | Amount Sold: 5
Item Name: Crispy Tacos | Amount Sold: 1
Item Name: Carnitas Crispy Tacos | Amount Sold: 6
Item Name: Steak Salad | Amount Sold: 3
Item Name: Chips and Mild Fresh Tomato Salsa | Amount Sold: 0
Item Name: Veggie Soft Tacos | Amount Sold: 6
Item Name: Carnitas Salad Bowl | Amount Sold: 5
Item Name: Barbacoa Salad Bowl | Amount Sold: 9
Item Name: Salad | Amount Sold: 1
Item Name: Veggie Crispy Tacos | Amount Sold: 0
Item Name: Veggie Salad | Amount Sold: 5
Item Name: Carnitas Salad | Amount Sold: 0